:root {
    --cor-texto: #ffffff;
    --cor-texto-marcado: rgb(0, 0, 0);
    --cor-titulos: rgb(255, 255, 255);
    --cor-titulos-selecionado: rgb(136, 136, 136);
    --fonte: 'Merriweather Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cor-texto);
    font-family: var(--fonte);
}

.cabecalho {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.idiomas {
    display: flex;
    justify-content: center;
}

.language-selector {
    display: flex;
    align-items: center;
}

.select-language {
    padding: 5px;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 2px solid var(--cor-texto-marcado);
    width: 30rem;
    text-align: center;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--cor-texto);
}

.cabecalho__menu__link {
    font-family: var(--fonte);
    font-size: 1.5rem;
    color: var(--cor-titulos);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-titulos-selecionado);
}

.apresentacao {
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__cursos__alura {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.apresentacao__cursos__conteudo {
    display: flex;
    justify-content: center;
}

.apresentacao__cursos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.apresentacao__cursos__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte);
    color: var(--cor-titulos);
}

.rodape {
    padding: 16px;
    font-size: 1.25rem;
    text-align: center;
    color: var(--cor-texto);
    font-family: var(--fonte);
}

.imagem__curso {
    width: 30%;
    height: auto;
}

@media (max-width: 1080px) {
    .apresentacao__cursos__alura {
        flex-direction: column;
        align-items: center;
    }

    .imagem__curso {
        width: 100%;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
