@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
    --cor-texto: #ffffff;
    --cor-fundo-claro: rgb(32, 32, 32);
    --cor-texto-marcado: rgb(0, 0, 0);
    --cor-titulos: rgb(255, 255, 255);
    --cor-titulos-selecionado: rgb(136, 136, 136);
    --fonte: 'Merriweather Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cor-texto);
    font-family: var(--fonte);
}

header {
    background-color: var(--cor-fundo-claro);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__language-selector {
    display: flex;
    align-items: center;
}

.select-language {
    padding: 5px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar__menu a {
    font-size: 1.5rem;
    color: var(--cor-titulos);
    text-decoration: none;
}

.main-content {
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__track-container {
    overflow: hidden;
    width: 100%;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in;
}

.carousel__slide {
    min-width: 100%; /* Ajuste para 100% do tamanho do contêiner */
    box-sizing: border-box;
}

.project {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.project__title {
    font-size: 2.5rem;
    color: var(--cor-titulos);
    margin-bottom: 20px;
    text-align: center;
}

.project__content {
    text-align: left;
}

.project__text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.project__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: var(--cor-texto);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}

.footer {
    padding: 16px;
    font-size: 1.25rem;
    text-align: center;
    color: var(--cor-texto);
}

@media (max-width: 1080px) {
    .main-content {
        padding: 5%;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
    }

    .carousel__slide {
        min-width: 100%; /* Ajuste para dispositivos móveis */
    }
}